[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Django"

[[workflows.workflow]]
name = "Run Django"
author = 43939633
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
